/* Medium Layout: 1280px. */
/* 
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .mainmenu-area #mainmenu ul.nav.navbar-nav {
        text-align: center;
    }
    .mainmenu-area #mainmenu ul.nav.navbar-nav li a {
        padding: 15px 10px;
    }
} */


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .prices [class|='col'] {
        padding: 0 15px !important;
        margin: auto !important;
    }
    .price-box {
        padding: 60px 30px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .price-box:hover {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .blog-box {
        margin-bottom: 30px;
    }
    .mainmenu-area #mainmenu .help-menu {
        position: absolute;
        right: 0;
        top: 0;

    }
    .contact-form {
        margin-bottom: 60px;
    }
    .process {
        background: none;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    /* body {
        font-size: 12px;
    } */
    .page-title {
        margin-bottom: 30px;
    }
    .page-title h2.title {
        font-size: 30px;
    }
    .filter-controls li {
        display: block;
        padding: 5px;
        margin-bottom: 0;
    }
    .navbar-brand img {
        width: 150px;
    }
    .navbar-nav a {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 13px;
        padding-bottom: 13px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }

    .bttn.bttn-lg {
        padding: 15px 30px;
        font-size: 20px;
    }
    .header-area .header-text .header-title {
        font-size: 36px;
    }
    .video-box {
        margin-bottom: 30px;
    }
    .tabs-list li a {
        padding: 10px 5px;
        font-size: 14px;
    }
    .blog-box {
        margin-bottom: 30px;
    }
    .prices [class|='col'] {
        padding: 0 15px !important;
        margin: auto !important;
    }
    .price-box {
        padding: 60px 30px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .price-box:hover {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .count-box {
        margin-bottom: 30px;
    }
    .footer-single {
        margin-top: 30px;
    }
    .contact-form {
        margin-bottom: 60px;
    }
    .process {
        background: none;
    }

    .social-menu-2 a {
        margin: 0 5px;
    }
    .tabs-list-2 li a {
        padding: 7px 15px;
        font-size: 12px;
    }
    .single-process {
        margin-top: 30px;
    }
    .testimonials .single-testimonial {
        padding: 80px 30px 50px 30px;
    }
    .testimonials .single-testimonial .testimonial-text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .mix,
    .col-xs-6 {
        width: 100%;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}